<!-- <input class="input is-success" type="text" placeholder="Enter Package ID " [(ngModel)]="packageId"> -->
<!-- <h4 style="color: brown;font-size:xx-large;font-weight: 600;"><b>Transporter Page</b></h4> -->
<article class="tile is-child is- 2by2 notification is-danger">
  <p class="lead" style="color:white;font-size: xx-large;">Welcome back,{{transName}}</p>
  <!-- <p class="subtitle"></p> -->
</article>
<br>
<article class="tile is-child notification is-warning">
  <div class="has-text-left-desktop">
    <!-- <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Name</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{transName}}</li> -->
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Location</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{transLocation}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Address</b></h4><li style="color:blue;font-size:larger;font-weight: 800;"> {{transAddress}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Balance ETH</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{transBalance}} ETH</li>
  </div> 
</article>
<br>
                                                    <!-- // SUPPLIER TO MANUFACTURER -->
<div class="tile is-parent">
  <article class="tile is-child notification is-primary is-bold">
    <p class="lead" style="color:white;font-size: xx-large;">Transport Raw Materials Package</p>
    <h2 class="lead" style="color:white;font-size: x-large;">
      Supplier to Manufacturer
    </h2>
  </article>
</div>

    <div class="field">
      <label class="label">From Supplier (ETH Address)</label>
        <input class="input is-success" type="text" placeholder="Enter Supplier ETH address" [(ngModel)]="supplierAddress">
    </div> 
    <div class="field">
      <label class="label">Package UID</label>
      <input class="input is-success" type="text" placeholder="Enter unique Package ID " [(ngModel)]="packageID">
    </div> 
    <div class="field">
      <button class="button lead is-danger" (click)="pickpackageSM()">Ship Package</button>
    </div>
  <br>
  <div class="field">
    <input class="input is-success" type="text" placeholder="Enter unique Package ID " [(ngModel)]="packageId">
    <div class="field">
      <button class="button lead is-danger" (click)="getrawMaterialStatusOne()">Get Status</button>
    </div>
    <h4 style="color: brown;font-size:x-large;font-weight: 600;" *ngIf="matstat"><b>{{getStatus}}</b></h4>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-dark is-bold">
      <p class="lead" style="color:white;font-size: xx-large;">Manufactured Product Status</p>
      <h2 class="lead" style="color:white;font-size: x-large;">
        Get Manufactured Product status at any point in the supply chain
      </h2>
    </article>
  </div>
  <div class="field">
    <input class="input is-success" type="text" placeholder="Enter Product B-GTIN " [(ngModel)]="prodId">
    <div class="field">
      <button class="button lead is-warning" (click)="getrawMaterialStatusTwo()">Get Status</button>
    </div>
    <h4 style="color: brown;font-size:x-large;font-weight: 600;" *ngIf="matstattwo"><b>{{getStatus}}</b></h4>
  </div>

  
  <!-- Manufacturer to Wholesaler -->

  <div class="tile is-parent">
    <article class="tile is-child notification is-primary is-bold">
      <p class="lead" style="color:white;font-size: xx-large;">Transport Product</p>
      <h2 class="lead" style="color:white;font-size: x-large;">
        Manufacturer to Wholesaler
      </h2>
    </article>
  </div>
  <div class="field">
    <label class="label">From Manufacturer (ETH Address)</label>
    <input class="input is-success" type="text" placeholder="Enter manufacturer address " [(ngModel)]="manuAddress">
  </div> 

  <div class="field">
    <label class="label">Product B-GTIN</label>
    <input class="input is-success" type="text" placeholder="Enter unique Product Blockchain GTIN " [(ngModel)]="prodID">
  </div> 
  <div class="field">

    <div class="field">
    <button class="button lead is-danger" (click)="pickpackageMW()">Ship Package</button>
  </div>


  <div class="tile is-parent">
    <article class="tile is-child notification is-primary is-bold">
      <p class="lead" style="color:white;font-size: xx-large;">Transport Product</p>
      <h2 class="lead" style="color:white;font-size: x-large;">
        Wholesaler to Distributer
      </h2>
    </article>
  </div>

  <div class="field">
    <label class="label">Product B-GTIN</label>
      <input class="input is-success" type="text" placeholder="Enter Product Blockchain GTIN" [(ngModel)]="pUID">
  </div> 
  <div class="field">
    <label class="label">Consignment(C1) UID</label>
    <input class="input is-success" type="text" placeholder="Enter Distributer Consignment ID" [(ngModel)]="conID">
  </div> 
  <div class="field">
    <button class="button lead is-danger" (click)="pickPackageWD()">Ship Consignment</button>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-primary is-bold">
      <p class="lead" style="color:white;font-size: xx-large;">Transport Product</p>
      <h2 class="lead" style="color:white;font-size: x-large;">
        Distributer to Retail Store
      </h2>
    </article>
  </div>
  <div class="field">
    <label class="label">Product B-GTIN</label>
      <input class="input is-success" type="text" placeholder="Enter Product Blockchain GTIN" [(ngModel)]="p2UID">
  </div> 
  <div class="field">
    <label class="label">Consignment(C2) UID</label>
    <input class="input is-success" type="text" placeholder="Enter Retail Consignment UID" [(ngModel)]="con2ID">
  </div> 
  <div class="field">
    <button class="button lead is-danger" (click)="pickPackageDR()">Ship Consignment</button>
  </div>


