<div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://whitman.syr.edu/images/programs-and-departments/programs/exec-education/IntroSupplyChain.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" routerLink="/home">
              Home
            </a>
            <span class="navbar-item">
              <a class="button is-danger is-inverted" routerLink="/transactions">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Transactions</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
