<!-- 
  <div class="bg-img">
    <div class="container has-text-centered is-info">
      <p class="title">
        Welcome to BitChain
      </p>
      <p class="subtitle">
        Powering Supply Chain through Blockchain
      </p>
    </div>
    
  </div>

 -->
 <section class="hero is-medium is-dark bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Welcome to BitChain
      </h1>
      <br>
      <h2 class="subtitle is-size-3">
        Powering Supply Chain through Blockchain
      </h2>
      <br>
      <div class="content has-text-centered">
        <button class="button lead is-warning is-large" style="color:black;font-weight: 600;" (click)="getstarted()">Get Started</button>
      </div> 
    </div>
  </div>
 
</section>