<!-- header -->
<!-- <nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" style="color:whitesmoke; text-align:center;">
                <h1>Pharmaceutical SupplyChain</h1>
        </a>
    </div>
</nav>

<section class="pagemaintain"> -->
<section class="hero is-medium is-light">
  <app-header></app-header>
  
    <div class="hero-body ">
      <div class="container is-fluid">
              <router-outlet></router-outlet>
      </div>
    </div>
  
  <app-footer></app-footer>
</section>
