<article class="tile is-child is- 2by2 notification is-danger">
  <p class="lead" style="font-size: xx-large;">Welcome back,{{wholeName}}</p>
  <!-- <p class="subtitle"></p> -->
</article>
<br>
<article class="tile is-child notification is-warning">
  <div class="has-text-left-desktop">
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Location</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{wholeLocation}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Address</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{wholeAddress}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Balance ETH</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{wholeBalance}} ETH</li>
  </div> 
</article>
<br>
<div class="tile is-parent">
  <article class="tile is-child notification is-primary is-bold">
    <p class="lead" style="color: white;font-size: xx-large;">Receive Product From Manufacturer</p>
    <h2 class="lead" style="color: white;font-size: x-large;">
      By Transporter
    </h2>
  </article>
</div>

<div class="field">
  <label class="label">Enter B-GTIN</label>
    <input class="input is-success" type="text" placeholder="Enter Product Blockchain-GTIN" [(ngModel)]="pUID">
</div> 
<!-- <div class="field">
  <label class="label">Consignment UID</label>
  <input class="input is-success" type="text" placeholder="Enter consignment ID" [(ngModel)]="conID">
</div>  -->
<div class="field">
  <button class="button lead is-danger" (click)="receivePackage()">Receive Package</button>
</div>

<br>
  <div class="field">
    <input class="input is-success" type="text" placeholder="Enter Product B-GTIN" [(ngModel)]="pId">
    <div class="field">
      <button class="button lead is-danger" (click)="getprodStatus()">Get Status</button>
    </div>
    <h4 style="color: brown;font-size:x-large;font-weight: 600;"><b>{{status}}</b></h4>
  </div>
<br>
  <article class="tile is-child notification is-warning">
    <div class="has-text-left-desktop">
      <button (click)="getbatchCount()" class="button lead is-danger is-8">Number of consignments</button> 
      <h5 *ngIf="batchcnt" style="color: brown;font-size: xx-large;font-weight: 800;padding-left: 2rem;">{{bcount}}</h5>            
    </div> 
  </article>
  <br>

  <article class="tile is-child notification is-warning">
    <p class="title">Get Distributer Consignment Number(C1)</p>
    <div class="has-text-left-desktop">
      <label class="label">Product B-GTIN</label>
      <input class="input is-success" type="text" placeholder="Enter unique Product ID" [(ngModel)]="productid">
      <br>
      <button (click)="getCid()" class="button lead is-danger is-8">Get Consignment Number</button> 
      <h5 *ngIf="cidPressed" style="color: brown;font-size: x-large;font-weight: 800;padding-left: 2rem;">{{cid}}</h5>            
    </div> 
  </article>


  <div class="tile is-parent">
    <article class="tile is-child notification is-primary is-bold">
      <p class="lead" style="color: white;font-size: xx-large;">Transfer Product</p>
      <h2 class="lead" style="color: white;font-size: x-large;">
        Wholesaler to Distributer
      </h2>
    </article>
  </div>

  <div class="field">
    <label class="label">Transporter Address</label>
      <input class="input is-success" type="text" placeholder="Enter Transporter ETH address" [(ngModel)]="TransAddress">
  </div> 
  <div class="field">
    <label class="label">Distributer Address</label>
      <input class="input is-success" type="text" placeholder="Enter Distributer ETH address" [(ngModel)]="RetaAddress">
  </div> 
  <div class="field">
    <label class="label">Product B-GTIN</label>
    <input class="input is-success" type="text" placeholder="Enter Product B-GTIN" [(ngModel)]="prodID">
  </div> 
  <div class="field">
    <button class="button lead is-danger" (click)="transfer()">Generate product Consignment Number</button>
  </div>
  <br> 
  <!-- //send Package to retailer -->
<br>
<div class="field is-grouped">
  <div class="control">
    <button (click)="getbatchIds()" class="button lead is-primary is-8">Get all Consignments</button>
  </div>
  <div class="control">
    <button class="button lead is-danger" (click)="resetIDs()">Reset</button>
  </div>
</div>
<div *ngIf="batchidpressed">
  <ul *ngFor="let id of IDs">
    <li class="lead" style="color: brown;font-size: larger;font-weight: 700;">{{id}}</li>
  </ul>
</div>


