<h4 style="color: brown;font-size:xx-large;font-weight: 600;"><b>Retailer Page</b></h4>
<article class="tile is-child notification is-warning">
  <div class="has-text-left-desktop">
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Name</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{conName}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Location</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{conLocation}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Address</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{conAddress}}</li>
    <h4 style="color: brown;font-size: larger;font-weight: 600;"><b>Balance ETH</b></h4><li style="color:blue;font-size:larger;font-weight: 800;">{{conBalance}} ETH</li>
  </div> 
</article>
<br>
<br>