<div class="field">
    <label class="label">Sender</label>
      <input class="input is-success" type="text" placeholder="Enter Product UID" [(ngModel)]="sender">
  </div>

  <div class="field">
    <label class="label">Receiver</label>
      <input class="input is-success" type="text" placeholder="Enter Product UID" [(ngModel)]="receiver">
  </div>
  <div class="field">
    <label class="label">Value</label>
      <input class="input is-success" type="text" placeholder="Enter Product UID" [(ngModel)]="value">
  </div>

  <div class="field">
    <button class="button is-primary" (click)="transact()">Send</button>
  </div>