<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container is-primary">
      <ul>
        <li>
          <a routerLink = "/admin">Administrator</a>
        </li>
        <li>
          <a routerLink = "/supplier">Supplier</a>
        </li>
        <li>
          <a>ManuFacturer</a>
        </li>
        <li>
          <a>Wholesaler</a>
        </li>
        <li>
          <a>Retailer</a>
        </li>
        <li>
          <a>Consumer</a>
        </li>
      </ul>
    </div>
  </nav>
</div>