<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container is-primary">
      <ul>
        <li>
          <a  routerLink = "/transporter">Transporter</a>
        </li>
        <li>
          <a routerLink = "/admin">Administrator</a>
        </li>
        <li>
          <a routerLink = "/supplier">Supplier</a>
        </li>
        <li>
          <a routerLink = "/manufacturer">ManuFacturer</a>
        </li>
        <li>
          <a  routerLink = "/wholesaler">Wholesaler</a>
        </li>
        <li>
          <a  routerLink = "/distributer">Distributer</a>
        </li>
        <li>
          <a  routerLink = "/store">Store</a>
        </li>
      </ul>
    </div>
  </nav>
</div>