<div class="hero-foot is-danger">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container is-danger">
      <ul>
        <li>
          <a  class="lead" routerLink = "/transporter" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Transporter</a>
        </li>
        <li>
          <a class="lead" routerLink = "/admin" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Administrator</a>
        </li>
        <li>
          <a class="lead" routerLink = "/supplier" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Supplier</a>
        </li>
        <li>
          <a class="lead" routerLink = "/manufacturer" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Manufacturer</a>
        </li>
        <li>
          <a  class="lead" routerLink = "/wholesaler" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Wholesaler</a>
        </li>
        <li>
          <a  class="lead" routerLink = "/distributer" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Distributer</a>
        </li>
        <li>
          <a  class="lead" routerLink = "/store" style="color: rgb(33, 13, 146);font-size:x-large;font-weight:600;">Retail Store</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p class="is-size-5">
      <strong>Copyright © </strong> 2020 <a href="https://www.linkedin.com/in/saptarshi-majumder-62251369?trk=people-guest_people_search-card">Saptarshi Majumder</a>. The source code is licensed
      <strong>| All rights reserved</strong>
    </p>
  </div>
</footer>